---
export type Props = {
  prev: {
    href: string;
  };
  next: {
    href: string;
  };
  pages: {
    label: string;
    href: string;
  }[];
};

const { prev, next, pages } = Astro.props;
---

<div class="flex">
  <a class="flex justify-start flex-1 font-title text-xl px-2 py-4 no-underline" href={prev?.href}>
    <svg
      class="shrink-0 size-5"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m15 18-6-6 6-6"></path>
    </svg>
  </a>
  <nav class="flex overflow-x-auto overflow-y-hidden scrollbar-none">
    {
      pages.map((p) => (
        <a
          class="flex-1 font-title text-xl px-2 py-4 no-underline"
          href={p.href}
        >
          {p.label}
        </a>
      ))
    }
  </nav>
  <a class="flex justify-end flex-1 font-title text-xl px-2 py-4 no-underline" href={next.href}>
    <svg
      class="shrink-0 size-5"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m9 18 6-6-6-6"></path>
    </svg>
  </a>
</div>
